<!DOCTYPE html>

<html>
    <head>
        <title>Projets</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Projets n°{{ projetId }}</h1>
        <p>{{ projetNom }}</p>
        <table>
    </body>
</html>