<!DOCTYPE html>

<html>
    <head>
        <title>Projets</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Projets</h1>
        <p>Le projet n°{{ projetId }} a été crée</p>
    </body>
</html>
